<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Informe-se">
    <section class="cards-container">
      @for (item of INFORMATIVO_DATA; track $index) {
      <app-card-component [publicacao]="item"></app-card-component>
      }
    </section>
    <button class="small-btn  primary" (click)="openFilterDialog(TipoPublicacao.INFORMATIVO)">
      <i class="fa-solid fa-filter"></i>
      <span class="">Aplicar filtros</span>
    </button>
  </mat-tab>

  <mat-tab label="O que está acontecendo na cidade?">
    <section class="cards-container">
      @for (item of PUBLICACAO_DATA; track $index) {
      <app-card-component [publicacao]="item"></app-card-component>
      }
    </section>
    <button class="small-btn  primary" (click)="openFilterDialog(TipoPublicacao.PUBLICACAO)">
      <i class="fa-solid fa-filter"></i>
      <span class="">Aplicar filtros</span>
    </button>
  </mat-tab>

  <mat-tab label="Acontecimentos">
    <section class="cards-container">
      @for (item of OCORRECIA_DATA; track $index) {
      <app-card-component [publicacao]="item"></app-card-component>
      }
    </section>
    <button class="small-btn primary" (click)="openFilterDialog(TipoPublicacao.OCORRENCIA)">
      <i class="fa-solid fa-filter"></i>
      <span class="">Aplicar filtros</span>
    </button>
  </mat-tab>
</mat-tab-group>

<button class="small-btn secondary" (click)="openCreatePublicacaoDialog()">
  <span class="fab-icon">+</span>
  <span class="">Criar publicação</span>
</button>
