<div>
  <h2 class="title">Minhas publicações</h2>
   <button class="new-post-btn" type="button" (click)="createPublication()">
        + Nova Publicação
      </button>
</div>
<section class="cards-container">
  @for (item of publications$ | async; track $index) {
  <app-card-component [showOptions]="true" [publicacao]="item"
    (updated)="this.realoadPublications$.next()"
    (deleted)="this.realoadPublications$.next()">
  </app-card-component>
  }
</section>

<button class="small-btn secondary" (click)="createPublication()">
  <span class="fab-icon">+</span>
  <span class="fab-text">Criar publicação</span>
</button>
