<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="'/home'">
        <i class="fa fa-home"></i>
        Página inicial
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Minhas publicações</li>
  </ol>
</nav>
<section class="cards-container">

  @for (item of publications$ | async; track $index) {
  <app-card-component [showOptions]="true" [publicacao]="item"
    (updated)="this.realoadPublications$.next()"
    (deleted)="this.realoadPublications$.next()">
  </app-card-component>
  }
</section>

<button class="small-btn secondary" (click)="openCreatePublicacaoDialog()">
  <span class="fab-icon">+</span>
  <span class="fab-text">Criar publicação</span>
</button>
