<app-navbar-component [nomeCompleto]="'Maria Clara'"></app-navbar-component>
<main>
  <mat-tab-group>
    <mat-tab label="Informe-se">
      <section class="cards-container">
        <app-card-component></app-card-component>
        <app-card-component></app-card-component>
      </section>
      <mat-tab label="O que está acontecendo na cidade?">
        <section class="cards-container">
          <app-card-component></app-card-component>
          <app-card-component></app-card-component>
        </section>
      </mat-tab>
    </mat-tab>
    <mat-tab label="Acontecimentos">
      <section class="cards-container">
        <app-card-component></app-card-component>
        <app-card-component></app-card-component>
      </section>
    </mat-tab>
  </mat-tab-group>



</main>
