<div class="form-container sign-in">
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <h1 class="title">Editar dados do perfil</h1>
    <div class="form-floating mb-3 floating-compact">
      <input type="text" class="form-control" id="nome" placeholder="" formControlName="nome">
      <label for="nome">Nome Completo</label>
    </div>
    <div class="form-floating mb-3 floating-compact">
      <input type="text" class="form-control" id="username" placeholder="" formControlName="username"
        [class.is-invalid]="userForm.get('username')?.hasError('usernameExists') || userForm.get('username')?.hasError('blank') ">
      <label for="username">Nome de usuário</label>
      <div class="invalid-feedback">
        @if(userForm.get('username')?.hasError('blank')) {
        O nome de usuário não pode conter apenas espaços.
        }
        @else {
        Nome de usuário já está em uso
        }
      </div>
    </div>
    <div class="mb-3 select-container">
      <label for="bairro">Bairro</label>
      <select class="info-select form-select" formControlName="bairro">
        @for (bairro of BAIRROS_UNICOS; track $index) {
        <option [value]="bairro">{{bairro | titlecase}}</option>
        }
      </select>
    </div>
    <div class="form-floating mb-3 floating-compact">
      <input type="date" class="form-control" id="dataNascimento" placeholder="" formControlName="dataNascimento"
        [max]="today" (keydown)="$event.preventDefault()">
      <label for="dataNascimento">Data de Nascimento</label>
    </div>
    <div class="form-floating mb-3 floating-compact password-container">
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="senha" placeholder=""
        formControlName="senha">
      <button type="button" (click)="togglePassword()" [ngClass]="isLoginInvalid ? 'is-invalid': ''">
        <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
      <label for="senha">Senha</label>
    </div>

    <div class="btns-container">
      <button class="button" type="submit" [disabled]="!userForm.valid">Salvar</button>
      <button class="button" type="button" style="background-color: var(--text-atention);" (click)="openDeleteDialog()">Deletar conta</button>
    </div>

  </form>
</div>
