<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand title" [href]="isLoggedIn ? '/home' : '/'">
      <i class="fa-solid fa-computer-mouse"></i> InfoComunidade
    </a>
    <div class="dropdown" *ngIf="isLoggedIn">
      <button class="btn profile-container" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
        <div class="profile-info">
          <mat-card-title class="name" *ngIf="user$ | async as user">{{user.nome}}</mat-card-title>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/personal-publications"><i class="fa-solid fa-photo-film"></i>Minhas
            publicações</a></li>
        <li><a class="dropdown-item" (click)="openEditDialog()">
            <i class="fa-solid fa-pencil"></i> Editar perfil</a></li>
        <li><a class="dropdown-item" style="color: var(--text-atention);" (click)="openDeleteDialog()">
            <i class="fa-solid fa-trash"></i> Deletar conta</a>
        <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
