.navbar {
  background-color: var(--color-primary-dark);
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--title-color);
  font-size: 1.5rem;
}
