<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand title" href="#">
      <i class="fa-solid fa-computer-mouse"></i> InfoComunidade
    </a>
    <div class="dropdown" *ngIf="isLoggedIn()">
      <button class="btn profile-container" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
        <div class="profile-info">
          <mat-card-title class="name">{{user()?.nome}}</mat-card-title>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Minhas publicações</a></li>
        <li><a class="dropdown-item" (click)="openEditDialog()">Editar perfil</a></li>
        <li><a class="dropdown-item" style="color: var(--text-atention);" (click)="openDeleteDialog()">Deletar conta</a>
        <li><a class="dropdown-item" href="/login">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>
