<div class="container-login">
  <div class="image-login-container">
    <img class="image" src="https://plus.unsplash.com/premium_photo-1695185954894-e9382c6f4da8?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="  ">
  </div>
  @if (showLogin()) {
  <div class="form-container log-in">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
      <h1 class="title">Entrar</h1>
      <div class="form-floating mb-3 floating-compact">
        <input type="text" class="form-control" id="username" placeholder="" formControlName="username"
          [class.is-invalid]="isLoginInvalid">
        <label for="username">Nome de usuário</label>
      </div>

      <div class="form-floating mb-3 floating-compact">
        <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha"
          [class.is-invalid]="isLoginInvalid">
        <label for="senha">Senha</label>
        <div class="invalid-feedback">
          Nome de usuário e/ou senha estão incorretos!
        </div>
      </div>
      <button class="button" type="submit" [disabled]="!loginForm.valid">Fazer login</button>

      <p class="switch">
        Não tem conta?
        <a (click)="toggleForm()">Criar conta</a>
      </p>
    </form>
  </div>
  }

  @else {
  <div class="form-container sign-in">
    <form [formGroup]="singinForm" (ngSubmit)="onSingInFormSubmit()">
      <h1 class="title">Cria conta</h1>
      <div class="form-floating mb-3 floating-compact">
        <input type="text" class="form-control" id="nome" placeholder="" formControlName="nome">
        <label for="nome">Nome Completo</label>
      </div>
      <div class="form-floating mb-3 floating-compact">
        <input type="text" class="form-control" id="username" placeholder="" formControlName="username"
          (ngModelChange)="findByUsername()"
          [class.is-invalid]="singinForm.get('username')?.hasError('usernameExists')">
        <label for="username">Nome de usuário</label>
        <div class="invalid-feedback">
          Nome de usuário já está em uso
        </div>
      </div>
      <div class="mb-3 select-container">
        <label for="bairro">Bairro</label>
        <select class="form-select" formControlName="bairro">
          @for (bairro of BAIRROS_UNICOS; track $index) {
          <option [value]="bairro">{{bairro | titlecase}}</option>
          }
        </select>
      </div>
      <div class="form-floating mb-3 floating-compact">
        <input type="date" class="form-control" id="dataNascimento" placeholder="" formControlName="dataNascimento">
        <label for="dataNascimento">dataNascimento</label>
      </div>
      <div class="form-floating mb-3 floating-compact">
        <input type="password" class="form-control" id="senha" placeholder="" formControlName="senha">
        <label for="senha">Senha</label>
      </div>

      <button class="button" type="submit" [disabled]="!singinForm.valid">Criar conta</button>

      <p class="switch">
        Já tem conta?
        <a (click)="toggleForm()">Fazer login</a>
      </p>
    </form>
  </div>
  }
</div>
