@if (publicacao) {
<div class="container">
  <mat-card class="card card-component" appearance="raised">
    <mat-card-header class="header-container card-header">
      <div class="custom-card-header">
        <div class="profile-info">
          <i class="fa-solid fa-user"></i>
          <div>
            <mat-card-title class="name">{{publicacao.usuario.nome}}</mat-card-title>
            <mat-card-subtitle class="username">{{publicacao.usuario.username}}</mat-card-subtitle>
          </div>
        </div>
        <div class="options-container">
          <span class="date">{{ publicacao.dataCriacao | date:'d \'de\' MMMM \'de\' y' }}</span>
          @if(showOptions) {
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item" href="#">Deletar</a></li>
            </ul>
          </div>
          }
        </div>
      </div>
    </mat-card-header>
    <!-- @if(publicacao.imagemURL) {
    <img mat-card-image class="image" [src]="publicacao.imagemURL"
      alt="Imagem da publicação" />
    } -->
    <mat-card-content class="content">

      <h3 class="card-title">{{publicacao.titulo}}</h3>
      @if (publicacao.setor) {
      <p class="card-content">
        Setor: {{publicacao.setor}}
      </p>
      }
      @if(publicacao.publicoAlvo) {
      <p class="card-content">
        Público Alvo: {{publicacao.publicoAlvo}}
      </p>
      }
      <p class="card-content">
        {{publicacao.descricao}}
      </p>
      <p class="hashtags">
        @for (hashtag of publicacao.hashtags; track $index) {
          <span class="hashtag">#{{hashtag}}</span>
        }
      </p>
    </mat-card-content>
  </mat-card>
</div>
}
