.container {
  margin: 20px 0;
  align-items: center;
}

.header-container {
  background: var(--card-container-bg);
  color: var(--text-black-color);
}

.card-component {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-header {
  padding: 10px 15px;
}

.custom-card-header {
  width: 100%;
  background: var(--card-container-bg);
  color: var(--text-black-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  min-height: 3rem;
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.profile-info i {
  padding: 0.2rem;
  font-size: 1rem;
}

.profile-info div,
.profile-info i:not(.fa-location-pin) {
  align-content: center;
  color: var(--text-black-color);
}

.user {
  font-size: 1rem;
}

.address,
.date,
i {
  color: var(--text-dark-gray-color);
  font-size: 1rem;
}

.options-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.options-container div {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.options-container i {
  color: var(--text-black-color);
  margin-left: 6px;
  font-size: 1rem;
}

.btn {
  padding: 5px;
}

.content {
  background-color: var(--card-container-bg);
}

.card-title {
  font-size: 1.3rem;
  padding: 0.5rem 0rem 0.2rem;
}

.card-content {
  padding: 0.3rem 0 0.3rem;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.hashtag {
  color: var(--gray-text);
  padding: 3px;
}

.icon-pencil {
  margin-right: 8px;
  color: var(--text-black-color);
}

.icon-trash {
  margin-right: 8px;
  color: var(--text-atention);
}

.description-type {
  font-weight: bold;
}
