main {
  background-color: var(--color-bg);
  height: 100vh;
}

.cards-container {
  width: 100%;
  max-width: 800px;
  padding: 24px;
  margin: 0 auto;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
  width: 30%;
}
